<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Catalog</title>
</head>
<body>
    <div>
        <h1>{{catalogItem.title}}</h1>
        <h3>TODO:</h3>
        <p>
            This is going to be a list of Categories(CatalogItems)
        </p>
        <p>
            Hopefully with metrics
        </p>
        <ul>
            {% for item in userItems %}
                <li>
                    <a href="{{url_for('showUserItem', catalogItemId = catalogItem.id, userItemId = item.id )}}">{{item.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>