<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Catalog App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/custom/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{url_for('showCatalog')}}">The Catalog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('showCatalog')}}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <div class="my-2 my-lg-0">
          {% if not login_session['username'] %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{url_for('showLoginPage')}}" type="submit">Log in</a>
          {% else %}
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{url_for('disconnect')}}" type="submit">Log out</a>
          {% endif %}
        </div>
      </div>
    </nav>

      <!-- Page Content -->
    <main role="main" class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Our Latest
            <!-- <small>Our Latest</small> -->
          </h1>

          {% for item in userItems %}
            <!-- Blog Post -->
            <div class="card mb-4">
              <img class="card-img-top" src="{{item.item_picture}}" alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title">{{item.title}}</h2>
                <p class="card-text">{{item.description}}</p>
                <a href="{{url_for('showUserItem', catalogItemId=item.catalog_item.id, userItemId=item.id)}}" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                {{item.created_date}}
                <!-- TODO format date -->
              </div>
            </div>
          {% endfor %}

          <!-- Pagination 
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>
          -->
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">
              {% if not login_session['username'] %}
                Categories
                {% else %}
                Categories
                <a 
                  class="btn btn-default btn-sm"
                  type="button"
                  href="{{url_for('newCatalogItem')}}">
                  <i class="fa fa-edit">
                  </i>
                  Add Item
                </a>
              {% endif %}
            </h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-unstyled mb-0">
                    {% for catalogItem in catalog %}
                    <li>
                      <a href="{{url_for('showUserItemsInCatalog', catalogItemId=catalogItem.id)}}">{{catalogItem.title}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Flash Messages Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Delete 4 Production</h5>
            <div class="card-body">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li><b><i>{{message}}</i></b></li>
                        {% endfor %}
                    </ul>
                {% endif %}
              {% endwith %}
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </main><!-- /.container -->

      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
      </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/vendor/jquery/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>