<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
    
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/custom/floating-labels.css" rel="stylesheet">
    <title>Catalog App Login</title>
  </head>

  <body>
    <form class="form-signin">
      <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
        <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
      </div>

      <div class="form-label-group">
        <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
        <label for="inputPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input value="remember-me" type="checkbox"> Remember me
        </label>
      </div>
      <div class="btn-group w-100 btn-group-justified">
        <button class="btn w-50 btn-lg btn-primary" type="submit">Sign in</button>
        <button class="btn w-50 btn-lg btn-primary" type="cancel">Cancel</button>
      </div>

      <div class="btn-group w-100 btn-group-justified signinGroup">
        <div id="signinButton" class="btn btn-lg w-50">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="992130204778-1v1snit75rrg87a3pmbou6lfpgfojlrl.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
        <div id="signinButton" class="btn btn-lg w-50">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="992130204778-1v1snit75rrg87a3pmbou6lfpgfojlrl.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
        <div id="signinButton" class="btn btn-lg w-50">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="992130204778-1v1snit75rrg87a3pmbou6lfpgfojlrl.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
      </div>
      
      <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
    </form>

  <!-- GOOGLE PLUS SIGN IN-->
  
  <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
              setTimeout(function() {
              window.location.href = "/restaurant";
              }, 4000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
          }
        }); 
      }
    }
  </script>
  <!--END GOOGLE PLUS SIGN IN -->
</body></html>