<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Catalog App</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/custom/starter-template.css" rel="stylesheet">
  </head>

  <body>
    <!-- Page Content -->
    <main role="main" class="container">

        <div class="row">
            <div class="col-md-3">
            </div>

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h2>The Requested Resourse Cannot Be Found</h2>
                <ul>
                    <li>The requested page was deleted</li>
                    <li>It was moved to another location</li>
                    <li>Meteor strike the Earth</li>
                </ul>
            </div>
            <div class="col-md-3">
            </div>
        </div>

    </main><!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark" >
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>